<template>
    <div class="about">
        <h1>Notes</h1>

        <NoteCreateForm/>

        <p v-for="note in notes" :key="note.id">
            <Note :id="note.id" :content="note.content"/>
        </p>

        <a href="#" v-if="!loadedAll" @click="loadMore">Press here to load more</a>

        <span v-if="loading">Loading more...</span>

        <h4 v-if="loadedAll">That's the end of this list!</h4>
    </div>
</template>

<script>
    import {createNamespacedHelpers} from 'vuex';
    import {NOTES_FETCH} from "../store/modules/notes.module";

    const {mapActions, mapState} = createNamespacedHelpers('notes');
    import Note from '../components/Note.vue'
    import NoteCreateForm from '../components/NoteCreateForm.vue'

    export default {
        name: 'About',
        computed: {
            ...mapState(['loading', 'loadedAll', 'notes']),
        },
        components: {
            Note, NoteCreateForm
        },
        async created() {
            await this[NOTES_FETCH]()
        },
        methods: {
            ...mapActions([NOTES_FETCH]),
            async loadMore() {
                await this[NOTES_FETCH]()
            }
        }
    }
</script>
