<template>
  <div id="nav">
    <router-link to="/">Home</router-link> |
    <router-link to="/notes">Notes</router-link> |
    <a href="#" @click="seedData">Seed data</a>
  </div>
  <router-view/>
</template>

<script>
  import {notesApi} from "@/api";

  export default {
    name: 'App',
    methods: {
      async seedData() {
        await notesApi.save({content: "test"});
        await notesApi.save({content: "test2"});
        await notesApi.save({content: "test3"});
        await notesApi.save({content: "test4"});
        await notesApi.save({content: "test5"});

        alert("Notes saved")
      }
    }
  }
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}
</style>
