<template>
    <p>
        <input v-model="content">

        <button @click="addNote">Save</button>
    </p>
</template>

<script>
    import {createNamespacedHelpers} from 'vuex';
    import {NOTE_SAVE} from "../store/modules/notes.module";

    const {mapActions} = createNamespacedHelpers('notes');

    export default {
        name: 'NoteCreateForm',
        data: () => ({
            content: ''
        }),
        methods: {
            ...mapActions([NOTE_SAVE]),
            async addNote() {
                await this[NOTE_SAVE]({content: this.content});
                this.content = '';
                return false
            }
        }
    }
</script>
