<template>
    <div>
        {{id}} {{content}}
    </div>
</template>

<script>
    export default {
        name: 'Note',
        props: {
            id: Number,
            content: String
        }
    }
</script>

<style scoped>
</style>
